[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=wacomrotate
Comment=Automatically rotate wacom input when the screen is rotated
Exec=wacomrotate -f
Terminal=false
Type=Application
Categories=
GenericName=
